# WordPress
# ----------------

/public/*
!/public/index.php
!/public/wp-config.php

!/public/mu-plugins
/public/mu-plugins/*/

!/public/plugins
/public/plugins/*/

!/public/themes
/public/themes/*/

!/public/uploads
/public/uploads/*
!/public/uploads/.gitkeep

# Application
# ----------------

#~ !/public/wp-ajax.php
#~ !/public/mu-plugins/foo
#~ !/public/themes/qux

# WP-CLI
# ----------------

.wp-cli
wp-cli.local.yml

# Dotenv
# ----------------

.env
.env.*
!.env.example

# Development
# ----------------

phpcs.xml
phpstan.neon
phpunit.xml
psalm.xml

# Logs
# ----------------

*.log

# Package Managers
# ----------------

/node_modules
/vendor

# Project Managers
# ----------------

/.idea
/.nova
/.vagrant
