<?xml version="1.0"?>
<ruleset name="Jazz">
    <description>Jazz Coding Standards</description>

    <!-- Scan only PHP files -->
    <arg name="extensions" value="php"/>

    <!-- Show colors in console -->
    <arg value="-colors"/>

    <!-- Show sniff codes in all reports -->
    <arg value="ns"/>

    <!-- Scan all files in directory -->
    <file>.</file>

    <!-- Ignore WordPress and Composer dependencies -->
    <exclude-pattern>public/wordpress</exclude-pattern>
    <exclude-pattern>public/themes/twentytwentytwo/</exclude-pattern>
    <exclude-pattern>node_modules</exclude-pattern>
    <exclude-pattern>vendor</exclude-pattern>

    <!-- Use WPCS as a base -->
    <rule ref="WordPress.WP.DeprecatedFunctions">
        <properties>
            <property name="minimum_supported_version" value="6.0" />
        </properties>
    </rule>

    <rule ref="WordPress.NamingConventions.ValidHookName">
        <properties>
            <property name="additionalWordDelimiters" value="-/" />
        </properties>
    </rule>
</ruleset>
